.chatbox {
    width: 10%;
    background-color: blue;
    border-radius: 50%;
    padding: 15px;
    margin-bottom: 30px;
    margin-right: 20px;
    @include flexCenter;
    position: fixed;
    bottom: 0;
    right: 0;

    svg {
        width: 100%;
        fill: #fff;
    }
}

@media (min-width: 570px) {
    .chatbox {
        width: 5%;

        svg {
            width: 100%;
        }
    }
}