/* Breakpoint styling begins here */

@media (min-width: 570px) {
    .chatbox {
        width: 5%;

        svg {
            width: 100%;
        }
    }
}


@media (min-width: 800px) {
    nav {
        .bottom-nav {

            .logo {
                padding-top: 0px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            #navbar {
                @include flexCenter;
                justify-content: space-between;

                .nav-links {
                    ul {
                        display: block;
                    }

                    li {
                        display: inline-block;
                    }
                }
                
                .nav-buttons {
                    @include flexCenter;
                    
                    li {
                        list-style-type: none;
                    }
                }  

                .menu-icon {
                    display: none;
                }
            }
        }
    }

    #home-section {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 80px;
        padding-top: 30px;
        margin-bottom: 250px;

        .home-left {
            grid-row: 1;

            .testimonial-section {
                background-color: rgb(255, 236, 219);
                width: 30%;
                height: 900px;
                z-index: 1;
                position: absolute;
                display: flex;
                align-items: flex-end;
                opacity: 0.5;
    
                img {
                    object-fit: cover;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    top: -50px;
                    left: 20px;
                    margin-left: 30px;
                    cursor: pointer;
                }
            }
    
            img {
                object-fit: cover;
                width: 500px;
                height: 700px;
                z-index: 2;
                position: relative;
                top: 50px;
                left: 50px;
            }
    
            .testimonial {
                width: 300px;
                position: relative;
                z-index: 2;
                background-color: #fff;
                left: 250px;
                top: -150px;
                padding: 30px;
                font-size: 15px;
                color: rgba(2,43,105,.6);
    
                div {
                    @include flexCenter;
                    justify-content: space-between;
                }
            }
        }
    
        .home-right {
            grid-column: 2;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin-right: 20px;
    
            .text {
    
                h1 {
                    font-size: 5.7rem;
                    font-weight: 600;
                    color: #022b69;
                    margin-bottom: 0;
                }
    
                p {
                    color: $textColor;
                    font-size: 1rem;
                }
    
                form {
                    margin-top: 30px;
    
                    input {
                        font-size: larger;
                        border: 1px solid rgba(2,43,105,.11);
                        border-radius: 10px;
                        padding: 15px 20px;
                        width: 300px;
                    }
                    
                    button {
                        @include button;
                        color: #fff;
                        margin-left: 10px;
                        padding: 15px 20px;
                        font-weight: 600;
                    }
                }
            }
    
            .licence {
                display: flex;
                justify-content: flex-end;
    
                img {
                    width: 1.5%;
                    margin-right: 5px;
                }
    
                p {
                    margin: 0;
                    margin-right: 30px;
                    font-size: 10px;
                    color: rgba(2,43,105,.6);
                }
            }
        }
    }

    #section2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 80px;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 400px;
    
        .left {
    
            .text {
                margin-bottom: 80px;
                
                h2 {
                    color: $headingColor;
                    font-size: 3rem;
                    margin-bottom: 0px;
                }
    
                p {
                    font-size: 1.1rem;
                    color: $textColor;
                }
            }
    
            .savings {
                border: none;
                border-radius: 30px;
                background-color: #f4f6ff;
                margin-bottom: 80px;
                @include text;
    
                .img-div {
                    cursor: pointer;
    
                    .img-1 {
                        display: block;
                        
                        img {
                            width: 100%;
                        }
                    }
                    
                    .img-2 {
                        display: none;
                    }
                }
    
                &:hover {
                    .img-2 {
                        display: flex;
                        justify-content: center;
                        overflow-y: hidden;
    
                        img {
                            width: 350px;
                        }
                    }
    
                    .img-1 {
                        display: none;
                    }
                }
            }
    
            .mutual-funds {
                border: none;
                border-radius: 30px;
                background-color: #e1f6ff;
                margin-bottom: 80px;
                @include text;
                @extend %hoverEffect;
            }
    
            .stash {
                border: none;
                border-radius: 30px;
                background-color: #0066f5;
                margin-bottom: 80px;
                @extend %hoverEffect;
    
                .text {
                    color: #fff;
                    padding: 48px;
                    padding-bottom: 0px;
                    margin-bottom: 0px;
    
                    h6 {
                        margin: 0px;
                        font-size: 1.2rem;
                        margin-bottom: 20px;
                    }
    
                    h4 {
                        margin: 0px;
                        font-weight: 700;
                        font-size: 2rem;
                    }
    
                    p {
                        color: hsla(0,0%,100%,.6);
                        margin-bottom: 30px;
                        font-size: 1.1rem;
                    }
    
                    a {
                        text-decoration: none;
                        color: #fff;
                        font-size: 0.7rem;
    
                        img {
                            width: 10px;
                        }
                    }
                }
            }
        }
    
        .right {
            .circles {
                border: none;
                border-radius: 30px;
                background-color: #fff6ee;
                margin-bottom: 80px;
                @include text;
                @extend %hoverEffect;
            }
    
            .emergency-fund {
                border: none;
                border-radius: 30px;
                background-color: #fdf3f6;
                margin-bottom: 80px;
                @include text;
                @extend %hoverEffect;
            }
    
            .stocks {
                border: none;
                border-radius: 30px;
                background-color: #f5f6fa;
                @extend %hoverEffect;
    
                .text {
                    padding: 48px;
                    padding-bottom: 0px;
            
                    h6 {
                        margin: 0;
                        margin-bottom: 20px;
                        font-size: 1.2rem;
                        color: $textColor;
                    }
            
                    h4 {
                        margin: 0px;
                        margin-bottom: 20px;
                        color: $headingColor;
                        font-size: 2rem;
                    }
            
                    a {
                        text-decoration: none;
                        color: blue;
                        font-size: 0.7rem;
    
                        img {
                            width: 10px;
                        }
                    }
                }
            }
        }
    }

    .section3 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .phone-img {
            display: block;
            @include flexCenter;
        }

        .roadmap {
            @include flexCenter;
            flex-direction: column;

            div > h3 {
                text-align: left;
                color: $headingColor;
                font-size: 2.3rem;
                margin-left: 100px;
                margin-bottom: 20px;
            }
            
            .step > p {
                font-size: 1.1rem;
            }
        }

        .btn {
            width: 100%;

            button {
                margin-left: 100px;
                float: left;
            }
        }
    }

    .section6 {

        .download {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 40px;
            
            .review-stars {
                width: 80%;

                .left {
                    @include flexCenter;
                    justify-content: space-around;
                }
            }
        }

        .sign-up {
            @include flexCenter;
            flex-direction: row;

            .text {
                width: 50%;
                @include flexCenter;
            }

            div {
                width: 50%;

                form {
                    width: 50%;
                    @include flexCenter;
                    align-items: flex-start;

                    input {
                        width: 40%;
                        position: absolute;
                    }

                    button {
                        right: -60%;
                        bottom: 10px;
                        position: relative;
                    }
                }
            }
        }

        .links {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}


@media (min-width: 1024px) {

    .section4 {
        overflow: hidden;
        padding-top: 0px;
        width: 100%;
        height: 1200px;

        div {
            height: 40%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            
            .protection {
                @include flexCenter;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                h5 {
                    font-size: 3rem;
                }

                p {
                    font-size: 1.3rem;
                }
            }
        }

        .checklist {
            padding-top: 10px;
            width: 60%;
            z-index: 2;

            .safety {
                @include flexCenter;
                flex-direction: row;
                height: 100%;

                .checkbox {
                    width: 20px;
                    margin-bottom: 100px;
                }

                div {
                    padding-top: 20px;
                    width: 400px;
                    @include flexCenter;
                    flex-direction: column;

                    h6 {
                        width: 100%;
                        margin-top: 25px;
                        font-size: 1.7rem;
                    }
    
                    p {
                        font-size: 1rem;
                    }
                }
            }
        
        }

        .security-img {
            display: block;
            position: relative;
            width: 80%;
            z-index: 1;
            right: -700px;
            bottom: 800px;
            opacity: 0.5;
        }
    }
}
/* Breakpoint styling ends */