/* Section 3 styling begins here */

.section3 {
    width: 100%;
    padding-bottom: 100px;
    background-color: #f5f6fa;

    .phone-img {
        padding: 20px 0;
        display: none;
        
        img {
            width: 400px;
            height: auto;
        }
    }

    .roadmap {
        height: auto;
        padding-right: 20px;

        div > h3 {
            text-align: left;
            color: $headingColor;
            font-size: 2.5rem;
            margin-left: 50px;
            margin-bottom: 20px;
        }

        .step {
            margin-bottom: 10px;
            @include flexCenter;
                
            .num {
                @include flexCenter;
                margin-bottom: 30px;
                width: 20%;
                color: blue;
                font-size: 1.3rem;
            }

            .step1 {
                text-align: justify;
                width: 80%;

                h4 {
                    margin-bottom: 0px;
                    font-size: 2rem;
                    color: $headingColor;
                }

                p {
                    color: $textColor;
                }
            }

            .step2 {
                text-align: justify;
                width: 80%;

                h4 {
                    margin-bottom: 0px;
                    font-size: 2rem;
                    color: $headingColor;
                }

                p {
                    color: $textColor;
                }
            }

            .step3 {
                text-align: justify;
                width: 80%;

                h4 {
                    margin-bottom: 0px;
                    font-size: 2rem;
                    color: $headingColor;
                }

                p {
                    color: $textColor;
                }
            }
        }

        .btn {
            margin-top: 20px;
            margin-left: 50px;

            button {
                @include button;
            }
        }
    }
}
/* Section 3 styling ends */