.section4 {
    background-color: $backgroundColor;
    color: #fff;
    width: 100%;
    font-family: "br firma";
    padding: 20px;
    padding-bottom: 50px;

    .protection {

        h5 {
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 2.3rem;
        }

        p {
            font-size: 20px;
        }

        a {
            text-decoration: none;
            color: #fff;
            font-size: 12px;
            padding: 20px 0;

            img {
                margin-left: 5px;
                width: 10px;
            }
        }
    }

    .checklist {

        .safety {
            margin-top: 20px;
            @include flexCenter;
            flex-direction: row;

            .checkbox {
                width: 50px;
                height: 15px;
                background-color: #fff;
                margin-right: 20px;
                margin-bottom: 100px;
                border-radius: 2px;
                box-shadow: 5px 5px rgb(72, 72, 77);
            }

            div {
                h6 {
                    font-size: 1.5rem;
                    margin-top: 25px;
                    margin-bottom: 0px;
                }

                p {
                    line-height: 1.5;
                    color:hsla(0,0%,100%,.8);
                    font-size: 18px;
                }
            }
        }
    }

    .security-img {
        display: none;
    }
}

@media (min-width: 1024px) {

    .section4 {
        font-family: "br firma";
        overflow: hidden;
        padding-top: 0px;
        width: 100%;
        height: 100vh;

        div {
            height: 40%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            
            .protection {
                @include flexCenter;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                padding-right: 200px;

                h5 {
                    font-size: 2rem;
                }

                p {
                    font-size: 1rem;
                }
            }
        }

        .checklist {
            padding-top: 10px;
            width: 60%;
            z-index: 2;

            .safety {
                @include flexCenter;
                flex-direction: row;

                .checkbox {
                    width: 20px;
                }

                div {
                    width: 400px;
                    @include flexCenter;
                    flex-direction: column;

                    h6 {
                        margin-top: 25px;
                        font-size: 1.7rem;
                    }
    
                    p {
                        font-size: 1rem;
                    }
                }
            }
        
        }

        .security-img {
            display: block;
            position: relative;
            width: 80%;
            z-index: 1;
            right: -600px;
            bottom: 600px;
            opacity: 0.5;
        }
    }
}