$backgroundColor: #0066f5;

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}