$backgroundColor: #0066f5;
$textColor: rgba(2,43,105,.6);
$headingColor: #022b69;

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

@mixin button {
    font-family: "br firma";
    font-size: large;
    background-color: $backgroundColor;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 6px 1px rgb(0 102 245 / 18%);
        
    a {
        color: #fff;
        text-decoration: none;
    }
}

@mixin text {
    .text {
        padding: 48px;
        padding-bottom: 0px;
        margin-bottom: 0px;

        h6 {
            margin: 0px;
            font-size: 1.5rem;
            color: $textColor;
            margin-bottom: 20px;
        }

        h4 {
            color: $headingColor;
            margin: 0px;
            font-weight: 700;
            font-size: 2.5rem;
        }

        p {
            margin-bottom: 30px;
            color: $textColor;
            font-size: 1.2rem;
        }

        a {
            text-decoration: none;
            color: blue;

            img {
                width: 15px;
            }
        }
    }
}

%hoverEffect {
    .img-div {
        cursor: pointer;

        .img-1 {
            display: block;
        }
            
        .img-2 {
            display: none;
        }

        &:hover {
            .img-2 {
                display: flex;
                justify-content: center;

                img {
                    width: 350px;
                }
            }

            .img-1 {
                display: none;
            }
        }
    }
}