#section2 .right .stocks .img-div, #section2 .right .emergency-fund .img-div, #section2 .right .circles .img-div, #section2 .left .stash .img-div, #section2 .left .mutual-funds .img-div {
  cursor: pointer;
}
#section2 .right .stocks .img-div .img-1, #section2 .right .emergency-fund .img-div .img-1, #section2 .right .circles .img-div .img-1, #section2 .left .stash .img-div .img-1, #section2 .left .mutual-funds .img-div .img-1 {
  display: block;
}
#section2 .right .stocks .img-div .img-2, #section2 .right .emergency-fund .img-div .img-2, #section2 .right .circles .img-div .img-2, #section2 .left .stash .img-div .img-2, #section2 .left .mutual-funds .img-div .img-2 {
  display: none;
}
#section2 .right .stocks .img-div:hover .img-2, #section2 .right .emergency-fund .img-div:hover .img-2, #section2 .right .circles .img-div:hover .img-2, #section2 .left .stash .img-div:hover .img-2, #section2 .left .mutual-funds .img-div:hover .img-2 {
  display: flex;
  justify-content: center;
}
#section2 .right .stocks .img-div:hover .img-2 img, #section2 .right .emergency-fund .img-div:hover .img-2 img, #section2 .right .circles .img-div:hover .img-2 img, #section2 .left .stash .img-div:hover .img-2 img, #section2 .left .mutual-funds .img-div:hover .img-2 img {
  width: 350px;
}
#section2 .right .stocks .img-div:hover .img-1, #section2 .right .emergency-fund .img-div:hover .img-1, #section2 .right .circles .img-div:hover .img-1, #section2 .left .stash .img-div:hover .img-1, #section2 .left .mutual-funds .img-div:hover .img-1 {
  display: none;
}

/* Navigation bar styling begins here */
nav .top-nav {
  height: 42px;
  background-color: #0066f5;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
nav .top-nav a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  color: white;
  background-color: #40b96e;
  border-radius: 5px;
  padding: 4px;
  margin-right: 10px;
}
nav .top-nav img {
  width: 10%;
}
nav .bottom-nav {
  background-color: #fff;
  font-size: large;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .bottom-nav .logo {
  width: 10%;
  color: #0066f5;
  text-align: center;
  margin-left: 20px;
  margin-right: 30px;
  padding-top: 10px;
}
nav .bottom-nav #navbar {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
nav .bottom-nav #navbar .nav-links ul {
  display: none;
  position: relative;
}
nav .bottom-nav #navbar .nav-links ul li:hover .dropdown-content {
  display: block;
}
nav .bottom-nav #navbar .nav-links ul .dropdown-content {
  background-color: #fff;
  display: none;
  width: 800px;
  position: absolute;
  z-index: 3;
  text-align: justify;
}
nav .bottom-nav #navbar .nav-links ul .dropdown-content #content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}
nav .bottom-nav #navbar .nav-links ul .dropdown-content #content .left {
  width: 500px;
}
nav .bottom-nav #navbar .nav-links ul .dropdown-content #content .right {
  width: 300px;
  text-align: left;
}
nav .bottom-nav #navbar .nav-links ul .dropdown-content .dropdown-content li {
  display: block;
  text-decoration: none;
  border: 1px solid navy;
}
nav .bottom-nav #navbar .nav-links ul .dropdown-content mark {
  background-color: rgb(147, 144, 144);
  color: #fff;
  padding: 5px 8px;
  font-size: 10px;
  border: none;
  border-radius: 3px;
}
nav .bottom-nav #navbar .nav-links li {
  list-style-type: none;
  display: inline-block;
}
nav .bottom-nav #navbar .nav-links li a {
  color: rgba(2, 43, 105, 0.6);
  display: flex;
  text-decoration: none;
  cursor: pointer;
  padding: 10px;
}
nav .bottom-nav #navbar .nav-links li a:hover {
  color: blue;
}
nav .bottom-nav #navbar .nav-links li a svg {
  margin-left: 20px;
  margin-right: 20px;
  width: 50px;
}
nav .bottom-nav #navbar .nav-links img {
  width: 20px;
}
nav .bottom-nav #navbar .nav-buttons {
  display: none;
  color: #0066f5;
  margin-right: 30px;
}
nav .bottom-nav #navbar .nav-buttons .log-in a {
  text-decoration: none;
  font-size: large;
  color: #0066f5;
  margin-right: 15px;
}
nav .bottom-nav #navbar .nav-buttons button {
  font-size: large;
  background-color: #0066f5;
  padding: 20px 20px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 4px 6px 1px rgba(0, 102, 245, 0.18);
  border-radius: 5px;
  padding: 15px 20px;
}
nav .bottom-nav #navbar .nav-buttons button a {
  color: #fff;
  text-decoration: none;
}
nav .bottom-nav .menu-icon {
  display: block;
  margin-right: 30px;
  padding-top: 10px;
}
nav .bottom-nav .menu-icon div {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

/* Navigation styling ends here*/
/* Header styling (excluding the navigation section) begins here */
#home-section {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 20px;
}
#home-section .home-right {
  grid-row: 1/2;
}
#home-section .home-right .text h1 {
  font-size: 3rem;
  line-height: 1.1;
  letter-spacing: -4px;
  color: #022b69;
  margin-bottom: 20px;
  font-weight: 600;
}
#home-section .home-right .text p {
  color: rgba(2, 43, 105, 0.6);
  font-size: 20px;
}
#home-section .home-right .text form {
  margin-top: 30px;
  margin-bottom: 30px;
}
#home-section .home-right .text form input {
  font-size: larger;
  border: 1px solid rgba(2, 43, 105, 0.11);
  border-radius: 10px;
  padding: 20px 20px;
  width: 300px;
}
#home-section .home-right .text form button {
  font-size: large;
  background-color: #0066f5;
  padding: 20px 20px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 4px 6px 1px rgba(0, 102, 245, 0.18);
  color: #fff;
  margin-left: 10px;
  padding: 15px 20px;
  font-weight: 600;
}
#home-section .home-right .text form button a {
  color: #fff;
  text-decoration: none;
}
#home-section .home-right .licence {
  display: none;
}
#home-section .home-left {
  grid-row: 2/3;
}
#home-section .home-left .testimonial-section {
  background-color: rgb(255, 236, 219);
  width: 50%;
  height: 600px;
  z-index: 1;
  position: absolute;
  display: flex;
  align-items: flex-end;
}
#home-section .home-left .testimonial-section img {
  width: 50px;
  height: 50px;
  display: flex;
  top: -50px;
  left: 20px;
  margin-left: 30px;
  cursor: pointer;
  display: none;
}
#home-section .home-left img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 95%;
  height: 500px;
  z-index: 2;
  position: relative;
  top: 20px;
  left: 20px;
}
#home-section .home-left .testimonial {
  width: 300px;
  position: relative;
  z-index: 3;
  background-color: #fff;
  right: -10px;
  top: -250px;
  padding: 15px;
  color: rgba(2, 43, 105, 0.6);
}
#home-section .home-left .testimonial div {
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

/* Header styling ends */
/* Section 2 styling begins here */
#section2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 40px;
  margin-top: 200px;
  margin-left: 30px;
  margin-right: 30px;
}
#section2 .left {
  z-index: 2;
  position: relative;
}
#section2 .left .text {
  margin-bottom: 80px;
}
#section2 .left .text h2 {
  color: #022b69;
  font-size: 2rem;
  margin-bottom: 0px;
}
#section2 .left .text p {
  font-size: 1rem;
  color: rgba(2, 43, 105, 0.6);
}
#section2 .left .savings {
  border: none;
  border-radius: 30px;
  background-color: #f4f6ff;
  margin-bottom: 80px;
}
#section2 .left .savings .text {
  padding: 48px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
#section2 .left .savings .text h6 {
  margin: 0px;
  font-size: 1.5rem;
  color: rgba(2, 43, 105, 0.6);
  margin-bottom: 20px;
}
#section2 .left .savings .text h4 {
  color: #022b69;
  margin: 0px;
  font-weight: 700;
  font-size: 2.5rem;
}
#section2 .left .savings .text p {
  margin-bottom: 30px;
  color: rgba(2, 43, 105, 0.6);
  font-size: 1.2rem;
}
#section2 .left .savings .text a {
  text-decoration: none;
  color: blue;
}
#section2 .left .savings .text a img {
  width: 15px;
}
#section2 .left .savings .img-div {
  cursor: pointer;
}
#section2 .left .savings .img-div .img-1 {
  display: block;
}
#section2 .left .savings .img-div .img-1 img {
  width: 100%;
}
#section2 .left .savings .img-div .img-2 {
  display: none;
}
#section2 .left .savings:hover .img-2 {
  display: flex;
  justify-content: center;
  overflow-y: hidden;
}
#section2 .left .savings:hover .img-2 img {
  width: 350px;
}
#section2 .left .savings:hover .img-1 {
  display: none;
}
#section2 .left .mutual-funds {
  border: none;
  border-radius: 30px;
  background-color: #e1f6ff;
  margin-bottom: 80px;
}
#section2 .left .mutual-funds .text {
  padding: 48px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
#section2 .left .mutual-funds .text h6 {
  margin: 0px;
  font-size: 1.5rem;
  color: rgba(2, 43, 105, 0.6);
  margin-bottom: 20px;
}
#section2 .left .mutual-funds .text h4 {
  color: #022b69;
  margin: 0px;
  font-weight: 700;
  font-size: 2.5rem;
}
#section2 .left .mutual-funds .text p {
  margin-bottom: 30px;
  color: rgba(2, 43, 105, 0.6);
  font-size: 1.2rem;
}
#section2 .left .mutual-funds .text a {
  text-decoration: none;
  color: blue;
}
#section2 .left .mutual-funds .text a img {
  width: 15px;
}
#section2 .left .stash {
  border: none;
  border-radius: 30px;
  background-color: #0066f5;
  margin-bottom: 80px;
}
#section2 .left .stash .text {
  color: #fff;
  padding: 48px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
#section2 .left .stash .text h6 {
  margin: 0px;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
#section2 .left .stash .text h4 {
  margin: 0px;
  font-weight: 700;
  font-size: 2.5rem;
}
#section2 .left .stash .text p {
  color: hsla(0deg, 0%, 100%, 0.6);
  margin-bottom: 30px;
  font-size: 1.2rem;
}
#section2 .left .stash .text a {
  text-decoration: none;
  color: #fff;
}
#section2 .left .stash .text a img {
  width: 15px;
}
#section2 .right .circles {
  border: none;
  border-radius: 30px;
  background-color: #fff6ee;
  margin-bottom: 80px;
}
#section2 .right .circles .text {
  padding: 48px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
#section2 .right .circles .text h6 {
  margin: 0px;
  font-size: 1.5rem;
  color: rgba(2, 43, 105, 0.6);
  margin-bottom: 20px;
}
#section2 .right .circles .text h4 {
  color: #022b69;
  margin: 0px;
  font-weight: 700;
  font-size: 2.5rem;
}
#section2 .right .circles .text p {
  margin-bottom: 30px;
  color: rgba(2, 43, 105, 0.6);
  font-size: 1.2rem;
}
#section2 .right .circles .text a {
  text-decoration: none;
  color: blue;
}
#section2 .right .circles .text a img {
  width: 15px;
}
#section2 .right .emergency-fund {
  border: none;
  border-radius: 30px;
  background-color: #fdf3f6;
  margin-bottom: 80px;
}
#section2 .right .emergency-fund .text {
  padding: 48px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
#section2 .right .emergency-fund .text h6 {
  margin: 0px;
  font-size: 1.5rem;
  color: rgba(2, 43, 105, 0.6);
  margin-bottom: 20px;
}
#section2 .right .emergency-fund .text h4 {
  color: #022b69;
  margin: 0px;
  font-weight: 700;
  font-size: 2.5rem;
}
#section2 .right .emergency-fund .text p {
  margin-bottom: 30px;
  color: rgba(2, 43, 105, 0.6);
  font-size: 1.2rem;
}
#section2 .right .emergency-fund .text a {
  text-decoration: none;
  color: blue;
}
#section2 .right .emergency-fund .text a img {
  width: 15px;
}
#section2 .right .stocks {
  border: none;
  border-radius: 30px;
  background-color: #f5f6fa;
}
#section2 .right .stocks .text {
  padding: 48px;
  padding-bottom: 0px;
}
#section2 .right .stocks .text h6 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: rgba(2, 43, 105, 0.6);
}
#section2 .right .stocks .text h4 {
  margin: 0px;
  margin-bottom: 20px;
  color: #022b69;
  font-size: 2.5rem;
}
#section2 .right .stocks .text a {
  text-decoration: none;
  color: blue;
}
#section2 .right .stocks .text a img {
  width: 15px;
}

/* Section 2 styling ends */
/* Section 3 styling begins here */
.section3 {
  width: 100%;
  padding-bottom: 100px;
  background-color: #f5f6fa;
}
.section3 .phone-img {
  padding: 20px 0;
  display: none;
}
.section3 .phone-img img {
  width: 400px;
  height: auto;
}
.section3 .roadmap {
  height: auto;
  padding-right: 20px;
}
.section3 .roadmap div > h3 {
  text-align: left;
  color: #022b69;
  font-size: 2.5rem;
  margin-left: 50px;
  margin-bottom: 20px;
}
.section3 .roadmap .step {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section3 .roadmap .step .num {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 20%;
  color: blue;
  font-size: 1.3rem;
}
.section3 .roadmap .step .step1 {
  text-align: justify;
  width: 80%;
}
.section3 .roadmap .step .step1 h4 {
  margin-bottom: 0px;
  font-size: 2rem;
  color: #022b69;
}
.section3 .roadmap .step .step1 p {
  color: rgba(2, 43, 105, 0.6);
}
.section3 .roadmap .step .step2 {
  text-align: justify;
  width: 80%;
}
.section3 .roadmap .step .step2 h4 {
  margin-bottom: 0px;
  font-size: 2rem;
  color: #022b69;
}
.section3 .roadmap .step .step2 p {
  color: rgba(2, 43, 105, 0.6);
}
.section3 .roadmap .step .step3 {
  text-align: justify;
  width: 80%;
}
.section3 .roadmap .step .step3 h4 {
  margin-bottom: 0px;
  font-size: 2rem;
  color: #022b69;
}
.section3 .roadmap .step .step3 p {
  color: rgba(2, 43, 105, 0.6);
}
.section3 .roadmap .btn {
  margin-top: 20px;
  margin-left: 50px;
}
.section3 .roadmap .btn button {
  font-size: large;
  background-color: #0066f5;
  padding: 20px 20px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 4px 6px 1px rgba(0, 102, 245, 0.18);
}
.section3 .roadmap .btn button a {
  color: #fff;
  text-decoration: none;
}

/* Section 3 styling ends */
/* Section 4 styling begins here */
.section4 {
  background-color: #0066f5;
  color: #fff;
  width: 100%;
  padding: 20px;
  padding-bottom: 50px;
}
.section4 .protection h5 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2.3rem;
}
.section4 .protection p {
  font-size: 20px;
}
.section4 .protection a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  padding: 20px 0;
}
.section4 .protection a img {
  margin-left: 5px;
  width: 10px;
}
.section4 .checklist .safety {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.section4 .checklist .safety .checkbox {
  width: 50px;
  height: 15px;
  background-color: #fff;
  margin-right: 20px;
  margin-bottom: 100px;
  border-radius: 2px;
  box-shadow: 5px 5px rgb(72, 72, 77);
}
.section4 .checklist .safety div h6 {
  font-size: 1.5rem;
  margin-top: 25px;
  margin-bottom: 0px;
}
.section4 .checklist .safety div p {
  line-height: 1.5;
  color: hsla(0deg, 0%, 100%, 0.8);
  font-size: 18px;
}
.section4 .security-img {
  display: none;
}

/* Section 4 styling ends */
/* Section 5 styling begins here */
.section5 {
  width: auto;
  padding: 50px 0px;
  margin-bottom: 100px;
  margin-left: 30px;
}
.section5 div .heading h6 {
  color: #022b69;
  font-size: 1rem;
}
.section5 div .perks {
  font-size: 2.5rem;
  font-weight: 600;
}
.section5 div .perks .perk {
  -webkit-animation: perk 10s infinite alternate;
          animation: perk 10s infinite alternate;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  opacity: 0;
}
.section5 div .perks .perk p {
  color: #6c82a3;
  transform: translate(0px, -30px) scale(1.02, 1.02);
  margin: 0px;
}
.section5 div .perks .perk span {
  transform: translate(0px, -30px) scale(1.06, 1.06);
  margin-left: 20px;
}
.section5 div .perks .perk:nth-child(1) {
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
}
.section5 div .perks .perk:nth-child(2) {
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}
.section5 div .perks .perk:nth-child(3) {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}
.section5 div .perks .perk:nth-child(4) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.section5 div .perks .perk:nth-child(5) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
@-webkit-keyframes perk {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes perk {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* Section 5 styling ends */
/* Section 6 styling begins here */
.section6 {
  width: 100%;
  padding: 0px 20px;
  margin-bottom: 50px;
}
.section6 .download {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 1fr;
  grid-row-gap: 40px;
  margin-bottom: 20px;
}
.section6 .download .play-store {
  border: 1px solid rgba(2, 43, 105, 0.07);
  border-radius: 10px;
  box-shadow: 1px 12px 24px rgba(2, 43, 105, 0.05);
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section6 .download .play-store .review-stars {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.section6 .download .play-store .review-stars .left {
  margin-right: 20px;
}
.section6 .download .play-store .review-stars .left p {
  margin: 0px;
  font-size: 2.3rem;
}
.section6 .download .play-store .review-stars .left p sub {
  color: rgba(2, 43, 105, 0.6);
}
.section6 .download .play-store .review-stars .left img {
  width: 150px;
  height: 30px;
}
.section6 .download .play-store .review-stars button {
  background-color: #022b69;
  padding: 10px 10px;
  border: none;
  border-radius: 10px;
  font-size: 10px;
  display: flex;
}
.section6 .download .play-store .review-stars button a {
  color: #fff;
  text-decoration: none;
  padding: 0px;
}
.section6 .download .play-store .review-stars button svg {
  margin-right: 10px;
  fill: #fff;
  width: 20px;
}
.section6 .download .play-store .review h6 {
  margin-top: 20px;
  font-size: 1.5rem;
  margin-bottom: 0px;
}
.section6 .download .play-store .review p {
  color: rgba(2, 43, 105, 0.6);
}
.section6 .download .play-store .review a {
  color: blue;
  text-decoration: none;
  font-size: 0.7rem;
}
.section6 .download .play-store .review a img {
  width: 10px;
}
.section6 .download .apple-store {
  border: 1px solid rgba(2, 43, 105, 0.07);
  border-radius: 10px;
  box-shadow: 1px 12px 24px rgba(2, 43, 105, 0.05);
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section6 .download .apple-store .review-stars {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.section6 .download .apple-store .review-stars .left {
  margin-right: 20px;
}
.section6 .download .apple-store .review-stars .left p {
  margin: 0px;
  font-size: 2.3rem;
}
.section6 .download .apple-store .review-stars .left p sub {
  color: rgba(2, 43, 105, 0.6);
}
.section6 .download .apple-store .review-stars .left img {
  width: 150px;
  height: 30px;
}
.section6 .download .apple-store .review-stars button {
  background-color: #022b69;
  padding: 10px 10px;
  border: none;
  border-radius: 10px;
  font-size: 10px;
  display: flex;
}
.section6 .download .apple-store .review-stars button a {
  color: #fff;
  text-decoration: none;
  padding: 0px;
}
.section6 .download .apple-store .review-stars button svg {
  margin-right: 10px;
  fill: #fff;
  width: 20px;
}
.section6 .download .apple-store .review h6 {
  margin-top: 20px;
  font-size: 1.5rem;
  margin-bottom: 0px;
}
.section6 .download .apple-store .review p {
  color: rgba(2, 43, 105, 0.6);
}
.section6 .download .apple-store .review a {
  color: blue;
  text-decoration: none;
  font-size: 0.7rem;
}
.section6 .download .apple-store .review a img {
  width: 10px;
}
.section6 .sign-up {
  border: 1px solid;
  border-radius: 10px;
  background-color: #0066f5;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0px 20px;
  margin: 100px 0;
  height: 300px;
  width: auto;
}
.section6 .sign-up .text {
  width: 100%;
  padding: 10px;
}
.section6 .sign-up .text h3 {
  margin: 0px;
  font-size: 2rem;
}
.section6 .sign-up div {
  width: 100%;
}
.section6 .sign-up div form {
  display: flex;
  flex-direction: column;
}
.section6 .sign-up div form input {
  width: 100%;
  color: transparent;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(170, 165, 165);
  padding: 15px 10px;
  opacity: 0.5;
}
.section6 .sign-up div form input ::-moz-placeholder {
  color: #fff;
}
.section6 .sign-up div form input :-ms-input-placeholder {
  color: #fff;
}
.section6 .sign-up div form input ::placeholder {
  color: #fff;
}
.section6 .sign-up div form button {
  border: none;
  border-radius: 5px;
  background-color: #fff;
  padding: 15px 0;
  margin-top: 20px;
  width: 150px;
}
.section6 .sign-up div form button a {
  text-decoration: none;
  color: #022b69;
  font-weight: 600;
}
.section6 .links {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: left;
}
.section6 .links .grid h6 {
  margin-left: 40px;
  font-size: 1rem;
}
.section6 .links .grid ul, .section6 .links .grid li {
  list-style-type: none;
  line-height: 2;
}
.section6 .links .grid ul a, .section6 .links .grid li a {
  font-size: 0.8rem;
  text-decoration: none;
  color: rgba(2, 43, 105, 0.6);
  cursor: pointer;
}
.section6 .icons {
  margin: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: left;
}
.section6 .icons ul, .section6 .icons li {
  padding-right: 30px;
  display: flex;
  list-style-type: none;
}
.section6 .icons ul svg, .section6 .icons li svg {
  fill: rgba(2, 43, 105, 0.6);
  width: 20px;
}
.section6 .address {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 50px;
}
.section6 .address div p {
  color: #022b69;
  font-size: 1rem;
}
.section6 .address .SEC {
  width: 200px;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(2, 43, 105, 0.07);
  border-radius: 10px;
  box-shadow: 1px 12px 24px rgba(2, 43, 105, 0.05);
}
.section6 .address .SEC img {
  margin-right: 20px;
  width: 20%;
}
.section6 .address .SEC div {
  display: flex;
  flex-direction: column;
}
.section6 .address .SEC div h6 {
  margin: 0px;
  color: #022b69;
}
.section6 .address .SEC div p {
  font-size: 12px;
  margin: 0px;
  margin-top: 5px;
  color: rgba(2, 43, 105, 0.6);
}
.section6 .footer {
  font-size: 0.8rem;
  line-height: 1.7;
  color: rgba(2, 43, 105, 0.48);
}
.section6 .footer a {
  text-decoration: none;
}
.section6 .footer a span {
  color: blue;
}

/* Section 6 styling ends  */
/* ChatBox styling begins here */
.chatbox {
  width: 10%;
  background-color: #0066f5;
  border-radius: 50%;
  padding: 15px;
  margin-bottom: 30px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
}
.chatbox svg {
  width: 100%;
  fill: #fff;
}

/* ChatBox styling ends */
/* Breakpoint styling begins here */
@media (min-width: 570px) {
  .chatbox {
    width: 5%;
  }
  .chatbox svg {
    width: 100%;
  }
}
@media (min-width: 800px) {
  nav .bottom-nav .logo {
    padding-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav .bottom-nav #navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }
  nav .bottom-nav #navbar .nav-links ul {
    display: block;
  }
  nav .bottom-nav #navbar .nav-links li {
    display: inline-block;
  }
  nav .bottom-nav #navbar .nav-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav .bottom-nav #navbar .nav-buttons li {
    list-style-type: none;
  }
  nav .bottom-nav #navbar .menu-icon {
    display: none;
  }

  #home-section {
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 80px;
    padding-top: 30px;
    margin-bottom: 250px;
  }
  #home-section .home-left {
    grid-row: 1/2;
  }
  #home-section .home-left .testimonial-section {
    background-color: rgb(255, 236, 219);
    width: 30%;
    height: 900px;
    z-index: 1;
    position: absolute;
    display: flex;
    align-items: flex-end;
  }
  #home-section .home-left .testimonial-section img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 50px;
    height: 50px;
    display: flex;
    top: -50px;
    left: 20px;
    margin-left: 30px;
    cursor: pointer;
  }
  #home-section .home-left img {
    -o-object-fit: contain;
       object-fit: contain;
    width: 500px;
    height: 700px;
    z-index: 2;
    position: relative;
    top: 50px;
    left: 50px;
  }
  #home-section .home-left .testimonial {
    width: 300px;
    position: relative;
    z-index: 2;
    background-color: #fff;
    left: 250px;
    top: -150px;
    padding: 30px;
    color: rgba(2, 43, 105, 0.6);
  }
  #home-section .home-left .testimonial div {
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }
  #home-section .home-right {
    grid-column: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 20px;
  }
  #home-section .home-right .text h1 {
    font-size: 7.3rem;
    font-weight: 600;
    color: #022b69;
    margin-bottom: 0;
  }
  #home-section .home-right .text p {
    color: rgba(2, 43, 105, 0.6);
    font-size: 1.6rem;
  }
  #home-section .home-right .text form {
    margin-top: 30px;
  }
  #home-section .home-right .text form input {
    font-size: larger;
    border: 1px solid rgba(2, 43, 105, 0.11);
    border-radius: 10px;
    padding: 20px 20px;
    width: 300px;
  }
  #home-section .home-right .text form button {
    font-size: large;
    background-color: #0066f5;
    padding: 20px 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 6px 1px rgba(0, 102, 245, 0.18);
    color: #fff;
    margin-left: 10px;
    padding: 15px 20px;
    font-weight: 600;
  }
  #home-section .home-right .text form button a {
    color: #fff;
    text-decoration: none;
  }
  #home-section .home-right .licence {
    display: flex;
    justify-content: flex-end;
  }
  #home-section .home-right .licence img {
    width: 1.5%;
    margin-right: 5px;
  }
  #home-section .home-right .licence p {
    margin: 0;
    margin-right: 30px;
    font-size: 10px;
    color: rgba(2, 43, 105, 0.6);
  }

  #section2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 80px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 400px;
  }
  #section2 .left .text {
    margin-bottom: 80px;
  }
  #section2 .left .text h2 {
    color: #022b69;
    font-size: 4rem;
    margin-bottom: 0px;
  }
  #section2 .left .text p {
    font-size: 1.4rem;
    color: rgba(2, 43, 105, 0.6);
  }
  #section2 .left .savings {
    border: none;
    border-radius: 30px;
    background-color: #f4f6ff;
    margin-bottom: 80px;
  }
  #section2 .left .savings .text {
    padding: 48px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  #section2 .left .savings .text h6 {
    margin: 0px;
    font-size: 1.5rem;
    color: rgba(2, 43, 105, 0.6);
    margin-bottom: 20px;
  }
  #section2 .left .savings .text h4 {
    color: #022b69;
    margin: 0px;
    font-weight: 700;
    font-size: 2.5rem;
  }
  #section2 .left .savings .text p {
    margin-bottom: 30px;
    color: rgba(2, 43, 105, 0.6);
    font-size: 1.2rem;
  }
  #section2 .left .savings .text a {
    text-decoration: none;
    color: blue;
  }
  #section2 .left .savings .text a img {
    width: 15px;
  }
  #section2 .left .savings .img-div {
    cursor: pointer;
  }
  #section2 .left .savings .img-div .img-1 {
    display: block;
  }
  #section2 .left .savings .img-div .img-1 img {
    width: 100%;
  }
  #section2 .left .savings .img-div .img-2 {
    display: none;
  }
  #section2 .left .savings:hover .img-2 {
    display: flex;
    justify-content: center;
    overflow-y: hidden;
  }
  #section2 .left .savings:hover .img-2 img {
    width: 350px;
  }
  #section2 .left .savings:hover .img-1 {
    display: none;
  }
  #section2 .left .mutual-funds {
    border: none;
    border-radius: 30px;
    background-color: #e1f6ff;
    margin-bottom: 80px;
  }
  #section2 .left .mutual-funds .text {
    padding: 48px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  #section2 .left .mutual-funds .text h6 {
    margin: 0px;
    font-size: 1.5rem;
    color: rgba(2, 43, 105, 0.6);
    margin-bottom: 20px;
  }
  #section2 .left .mutual-funds .text h4 {
    color: #022b69;
    margin: 0px;
    font-weight: 700;
    font-size: 2.5rem;
  }
  #section2 .left .mutual-funds .text p {
    margin-bottom: 30px;
    color: rgba(2, 43, 105, 0.6);
    font-size: 1.2rem;
  }
  #section2 .left .mutual-funds .text a {
    text-decoration: none;
    color: blue;
  }
  #section2 .left .mutual-funds .text a img {
    width: 15px;
  }
  #section2 .left .stash {
    border: none;
    border-radius: 30px;
    background-color: #0066f5;
    margin-bottom: 80px;
  }
  #section2 .left .stash .text {
    color: #fff;
    padding: 48px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  #section2 .left .stash .text h6 {
    margin: 0px;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  #section2 .left .stash .text h4 {
    margin: 0px;
    font-weight: 700;
    font-size: 2.5rem;
  }
  #section2 .left .stash .text p {
    color: hsla(0deg, 0%, 100%, 0.6);
    margin-bottom: 30px;
    font-size: 1.2rem;
  }
  #section2 .left .stash .text a {
    text-decoration: none;
    color: #fff;
  }
  #section2 .left .stash .text a img {
    width: 15px;
  }
  #section2 .right .circles {
    border: none;
    border-radius: 30px;
    background-color: #fff6ee;
    margin-bottom: 80px;
  }
  #section2 .right .circles .text {
    padding: 48px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  #section2 .right .circles .text h6 {
    margin: 0px;
    font-size: 1.5rem;
    color: rgba(2, 43, 105, 0.6);
    margin-bottom: 20px;
  }
  #section2 .right .circles .text h4 {
    color: #022b69;
    margin: 0px;
    font-weight: 700;
    font-size: 2.5rem;
  }
  #section2 .right .circles .text p {
    margin-bottom: 30px;
    color: rgba(2, 43, 105, 0.6);
    font-size: 1.2rem;
  }
  #section2 .right .circles .text a {
    text-decoration: none;
    color: blue;
  }
  #section2 .right .circles .text a img {
    width: 15px;
  }
  #section2 .right .emergency-fund {
    border: none;
    border-radius: 30px;
    background-color: #fdf3f6;
    margin-bottom: 80px;
  }
  #section2 .right .emergency-fund .text {
    padding: 48px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  #section2 .right .emergency-fund .text h6 {
    margin: 0px;
    font-size: 1.5rem;
    color: rgba(2, 43, 105, 0.6);
    margin-bottom: 20px;
  }
  #section2 .right .emergency-fund .text h4 {
    color: #022b69;
    margin: 0px;
    font-weight: 700;
    font-size: 2.5rem;
  }
  #section2 .right .emergency-fund .text p {
    margin-bottom: 30px;
    color: rgba(2, 43, 105, 0.6);
    font-size: 1.2rem;
  }
  #section2 .right .emergency-fund .text a {
    text-decoration: none;
    color: blue;
  }
  #section2 .right .emergency-fund .text a img {
    width: 15px;
  }
  #section2 .right .stocks {
    border: none;
    border-radius: 30px;
    background-color: #f5f6fa;
  }
  #section2 .right .stocks .text {
    padding: 48px;
    padding-bottom: 0px;
  }
  #section2 .right .stocks .text h6 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: rgba(2, 43, 105, 0.6);
  }
  #section2 .right .stocks .text h4 {
    margin: 0px;
    margin-bottom: 20px;
    color: #022b69;
    font-size: 2.5rem;
  }
  #section2 .right .stocks .text a {
    text-decoration: none;
    color: blue;
  }
  #section2 .right .stocks .text a img {
    width: 15px;
  }

  .section3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .section3 .phone-img {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section3 .roadmap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .section3 .roadmap div > h3 {
    text-align: left;
    color: #022b69;
    font-size: 2.5rem;
    margin-left: 130px;
    margin-bottom: 20px;
  }
  .section3 .btn {
    width: 100%;
  }
  .section3 .btn button {
    margin-left: 100px;
    float: left;
  }

  .section6 .download {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
  }
  .section6 .download .review-stars {
    width: 80%;
  }
  .section6 .download .review-stars .left {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
  }
  .section6 .sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .section6 .sign-up .text {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section6 .sign-up div {
    width: 50%;
  }
  .section6 .sign-up div form {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
  }
  .section6 .sign-up div form input {
    width: 300px;
    position: absolute;
  }
  .section6 .sign-up div form button {
    right: -200px;
    bottom: 10px;
    position: relative;
  }
  .section6 .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1024px) {
  .section4 {
    overflow: hidden;
    padding-top: 0px;
    width: 100%;
    height: 100vh;
  }
  .section4 div {
    height: 40%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
  .section4 div .protection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 200px;
  }
  .section4 div .protection h5 {
    font-size: 2rem;
  }
  .section4 div .protection p {
    font-size: 1rem;
  }
  .section4 .checklist {
    padding-top: 10px;
    width: 60%;
    z-index: 2;
  }
  .section4 .checklist .safety {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .section4 .checklist .safety .checkbox {
    width: 20px;
  }
  .section4 .checklist .safety div {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .section4 .checklist .safety div h6 {
    margin-top: 25px;
    font-size: 1.7rem;
  }
  .section4 .checklist .safety div p {
    font-size: 1rem;
  }
  .section4 .security-img {
    display: block;
    position: relative;
    width: 80%;
    z-index: 1;
    right: -600px;
    bottom: 600px;
    opacity: 0.5;
  }
}
/* Breakpoint styling ends */
* {
  box-sizing: border-box;
  font-family: "BRFirma";
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "BRFirma";
}

@font-face {
  font-family: "BRFirma";
  src: url(fonts/BRFirma-Medium.ttf);
  font-style: normal;
  font-weight: normal;
}
header {
  width: 100%;
  box-sizing: border-box;
}/*# sourceMappingURL=style.css.map */